<a href="https://colab.research.google.com/github/gitmaster-max/INFINITI/blob/master/Stock_Analysis_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import datetime as dt
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [10]:
start = dt.datetime(2020, 1, 1)
end = dt.datetime(2020, 6, 1)

df = pdr.DataReader('RELIANCE.NS', 'yahoo', start, dt.datetime.now())
df.tail()

                   High          Low  ...      Volume    Adj Close
Date                                  ...
2020-09-25  2212.800049  2167.300049  ...  13095028.0  2201.699951
2020-09-28  2238.000000  2207.050049  ...   9076248.0  2216.250000
2020-09-29  2264.000000  2216.250000  ...  11926328.0  2245.050049
2020-09-30  2267.000000  2225.000000  ...  11290667.0  2234.350098
2020-10-01  2263.800049  2226.449951  ...   6535062.0  2230.000000

[5 rows x 6 columns]